@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(to bottom right, #d46993, #6e3c64);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.cabecalho-logo{
    height: 72px;
}

.cabecalho-navegacao{
    display: flex;
    gap: 32px; /* adicionar espaços entre os filhos*/
}

.cabecalho-navegacao-link{
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    border-top: 0.4px solid white;
    margin-bottom: 30px;
}

.conteudo-primeiro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-primeiro-texto{
    display: flex;
    flex-direction:column;
    gap: 25px;
}

.conteudo-primeiro-texto1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: white;
}

.conteudo-primeiro-texto2{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.conteudo-primeiro-texto-botao{
    background-color: #F6D2D6;
    width: 100px;
    height: 50px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #6e3c64;
}

.conteudo-primeiro-texto-botao:hover{
    background-color: #d46993;
}

.conteudo-primeiro-boneca{
    height: 300px;
}

.conteudo-segundo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.conteudo-segundo-texto{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 40px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.conteudo-segundo-texto-1{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.fim{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.fim-img{
    height: 40px;
    display: block;
    margin: auto;
}